body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Basic-Paragraph {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.titolo {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Gotham, sans-serif;
	font-size:45px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.022;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.text {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Gotham, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.sub {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Gotham, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.text-60 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:Gotham, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	font-size:10px;
	text-align:center;
}
p.para-style-override-2 {
	color:#87625e;
	font-family:"Kalam Bold", sans-serif;
	font-size:37px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-1 {
	font-family:"Grotesque MT Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.char-style-override-2 {
	font-family:"Grotesque MT", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-family:"Gotham Light", sans-serif;
	font-style:italic;
	font-weight:300;
}
img.frame-1 {
	height:538px;
	width:389px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:538px;
	width:390px;
}
img.frame-4 {
	height:538px;
	width:361px;
}
img.frame-5 {
	height:538px;
	width:510px;
}
img.frame-6 {
	height:397px;
	width:509px;
}
img.frame-7 {
	height:538px;
	width:727px;
}
img.frame-8 {
	height:255px;
	width:255px;
}
img.frame-9 {
	height:196px;
	width:196px;
}
img.frame-10 {
	height:227px;
	width:227px;
}
img.frame-11 {
	height:216px;
	width:216px;
}
img.frame-12 {
	height:176px;
	width:176px;
}
img.frame-13 {
	height:219px;
	width:219px;
}
img.frame-14 {
	height:203px;
	width:203px;
}
img.frame-15 {
	height:214px;
	width:214px;
}
img.frame-16 {
	height:181px;
	width:181px;
}
img.frame-17 {
	height:225px;
	width:225px;
}
img.frame-18 {
	height:269px;
	width:376px;
}
img.frame-19 {
	height:364px;
	width:510px;
}
img.frame-20 {
	height:404px;
	width:566px;
}
img.frame-21 {
	height:239px;
	width:335px;
}
img.frame-22 {
	height:259px;
	width:363px;
}
img.frame-23 {
	height:384px;
	width:538px;
}
img.frame-24 {
	height:538px;
	width:380px;
}
img.frame-25 {
	height:368px;
	width:510px;
}
img.frame-26 {
	height:538px;
	width:335px;
}
img.frame-27 {
	height:538px;
	width:349px;
}
img.frame-28 {
	height:269px;
	width:510px;
}
img.frame-29 {
	height:242px;
	width:335px;
}
img.frame-30 {
	height:271px;
	width:335px;
}
img.frame-31 {
	height:247px;
	width:335px;
}
img.frame-32 {
	height:538px;
	width:762px;
}
img.frame-33 {
	height:538px;
	width:1077px;
}
img.frame-34 {
	height:379px;
	width:1077px;
}
img.frame-35 {
	height:420px;
	width:510px;
}
img.frame-36 {
	height:538px;
	width:376px;
}
img.frame-37 {
	height:538px;
	width:189px;
}
img.frame-38 {
	height:382px;
	width:510px;
}
img.frame-39 {
	height:538px;
	width:867px;
}
